.git
.gitignore
.github
.env
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.db
!whisper.db
test.db
*.log
docs/
examples/
audio/
test_output.json
token.txt
CONTRIBUTING.md
LICENSE
README.md
Dockerfile
.dockerignore
