__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env
.idea/
.vscode/
*.log
*.swp
.DS_Store
/*/*.bin
*/*.bin

*/*.wav
*/*.mp3
*/*.txt
*/*.srt
*/*.json

log.txt
/binary/
/models/
whisper.cpp/
whisper_temp_build/

# Test artifacts
test.wav
test.txt
test_output*
token.txt

# Database
*.db
